# Spatial Data

## üìñ Ahead of time...

This block is all about understanding spatial data, both conceptually and practically. Before your fingers get on the keyboard, the following readings will help you get going and familiar with core ideas: 

- [Chapter 2](https://geographicdata.science/book/notebooks/02_geo_thinking.html) of the GDS Book {cite}`reyABwolf`, which provides a conceptual overview of representing Geography in data
- [Chapter 3](https://geographicdata.science/book/notebooks/03_spatial_data.html) of the GDS Book {cite}`reyABwolf`, a sister chapter with a more applied perspective on how concepts are implemented in computer data structures

Additionally, parts of this block are based and source from [Block C](https://darribas.org/gds_course/content/bC/lab_C.html) in the GDS Course {cite}`darribas_gds_course`.

## üíª Hands-on coding

### (Geographic) tables

In [3]:
import pandas
import geopandas

#### Points

````{tabbed} Local files

Assuming you have the file locally on the path `../data/`: 

```python
pts = geopandas.read_file("../data/madrid_abb.gpkg")
```
````

````{tabbed} Online read

If you're online, you can do:

```python
pts = geopandas.read_file(
    "https://github.com/GDSL-UL/san/raw/v0.1.0/data/assignment_1_madrid/madrid_abb.gpkg"
)
```
````

In [14]:
pts = geopandas.read_file("../data/madrid_abb.gpkg")

````{admonition} Point geometries from columns
:class: dropdown

Sometimes, points are provided as separate columns in an otherwise non-spatial table. For example imagine we have an object `cols` which looks like:

```python
cols.head()
```

```
          X         Y
0  0.259602  0.854351
1  0.661662  0.782427
2  0.932211  0.319130
3  0.395249  0.469885
4  0.303446  0.008525
```

In this case, we can convert those into proper geometries by:

```python
pts = geopandas.GeoSeries(
    geopandas.points_from_xy(cols["X"], cols["Y"])
)
```
````

In [17]:
pts.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 18399 entries, 0 to 18398
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            18399 non-null  object
 1   price_usd        18399 non-null  float64
 2   log1p_price_usd  18399 non-null  float64
 3   accommodates     18399 non-null  int64
 4   bathrooms        18399 non-null  object
 5   bedrooms         18399 non-null  float64
 6   beds             18399 non-null  float64
 7   neighbourhood    18399 non-null  object
 8   room_type        18399 non-null  object
 9   property_type    18399 non-null  object
 10  WiFi             18399 non-null  object
 11  Coffee           18399 non-null  object
 12  Gym              18399 non-null  object
 13  Parking          18399 non-null  object
 14  km_to_retiro     18399 non-null  float64
 15  geometry         18399 non-null  geometry
dtypes: float64(5), geometry(1), int64(1), object(9)
memory usage: 2.2+ MB

In [16]:
pts.head()

,price,price_usd,log1p_price_usd,accommodates,bathrooms,bedrooms,beds,neighbourhood,room_type,property_type,WiFi,Coffee,Gym,Parking,km_to_retiro,geometry
0,$60.00,60.0,4.110874,2,1 shared bath,1.0,1.0,Hispanoam√©rica,Private room,Private room in apartment,1,0,0,0,5.116664,POINT (-3.67688 40.45724)
1,$31.00,31.0,3.465736,1,1 bath,1.0,1.0,C√°rmenes,Private room,Private room in apartment,1,1,0,1,5.563869,POINT (-3.74084 40.40341)
2,$60.00,60.0,4.110874,6,2 baths,3.0,5.0,Legazpi,Entire home/apt,Entire apartment,1,1,0,1,3.048442,POINT (-3.69304 40.38695)
3,$115.00,115.0,4.753590,4,1.5 baths,2.0,3.0,Justicia,Entire home/apt,Entire apartment,1,1,0,1,2.075484,POINT (-3.69764 40.41995)
4,$26.00,26.0,3.295837,1,1 private bath,1.0,1.0,Legazpi,Private room,Private room in house,1,0,0,0,2.648058,POINT (-3.69011 40.38985)

#### Lines

````{tabbed} Local files

Assuming you have the file locally on the path `../data/`: 

```python
pts = geopandas.read_file("../data/arturo_streets.gpkg")
```
````

````{tabbed} Online read

If you're online, you can do:

```python
pts = geopandas.read_file(
    "https://darribas.org/gds4ae/_downloads/67d5480f98453027d59bf49606a7ad92/arturo_streets.gpkg"
)
```
````

In [23]:
lines = geopandas.read_file("../data/arturo_streets.gpkg")

In [26]:
lines.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 66499 entries, 0 to 66498
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OGC_FID     66499 non-null  object
 1   dm_id       66499 non-null  object
 2   dist_barri  66483 non-null  object
 3   X           66499 non-null  float64
 4   Y           66499 non-null  float64
 5   value       5465 non-null   float64
 6   geometry    66499 non-null  geometry
dtypes: float64(3), geometry(1), object(3)
memory usage: 3.6+ MB

In [25]:
lines.loc[0, "geometry"]

#### Polygons

### Surfaces

### Visualisation

### Spatial operations

#### (Re-)Projections

#### Centroids

#### Areas

#### Distances

## üêæ Next steps